<!DOCTYPE html>
<html>
	<head>
		<title>Signup</title>
		<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
		<link rel="stylesheet" href="/static/styles.css">
	</head>
	<body>
		<h1>Signup</h1>
		<div>
			<form method="POST">
				<div>
					<label for="username">Username</label>
					<input type="text" name="Username" value="" />
					<br />
					<div class="error">That's not a valid username</div>
				</div>

				<div>

					<label for="password">Password</label>
					<input type="text" name="Password" value="" />
					<br />
					<div class="error">That's not a valid password</div>
				</div>

				<div>
					<label for="verifyPass">Verify Password</label>
					<input type="text" name="verifyPass" value="" />
					<br />
					<div class="error">Passwords don't match</div>
				</div>

				<div>
					<label for="email">Email (optional)</label>
					<input type="text" name="email" value="" />
					<br />
					<div class="error">That's not a valid email</div>
				</div>
				<div>
					<button type="submit" value="Submit">Submit</button>
				</div>
			</form>	
		</div>
	</body>
</html>